<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Me</h1>
     <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="/faculty">Faculty Directory</a></li>
        </ul>
    </nav>
    <h3>Personal Information</h3>
    <p>This is a page about me, Zackary Sinclair.</p>
    <p>I am from Sacramento, CA. I am excited to be starting my second to last semester at BYU-Idaho. I am married to the most amazing woman in the world.</p>
    <p>We have a happy baby boy who is under a year old and a dog that loves to go on walks.</p>
    <h3>Brief Intro about myself</h3>
    <p>I am studying Computer Science at BYU-Idaho. I am working towards earning my bachelors degree in software development.</p>
    <p>I am excited to take this class and learn more about software development.</p>
    <h3>List of your hobbies</h3>
    <ul>
        <li>Hiking</li>
        <li>Baking</li>
        <li>Spending time with family and friends.</li>
    </ul>
    <h3>Picture of yourself saved in the public/images directory</h3>
    <img src="public/images/wedding-photo.jpg" alt="Wedding photo">

    <img src="https://i.ibb.co/SXxP1kWD/wedding-photo.jpg" alt="wedding-photo" border="0"></a>
    
</body>
</html>