<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Index page</h1>
     <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/faculty">Faculty Directory</a></li>
        </ul>
    </nav>
    <p>[Add some content specific to this page] Starter page</p>
    <p>Here is some more. kjlknfk kfkn kefnd fh n hdj fdd regfefe gr reg evg erv er</p>
    <p>erpson iroppsem md re fregrt grdfg ferdgredfgv rtbv rergvertbv rtbtrb vrdgbv fr</p>
    <p>ipsom wd wefw refewrferf erfgergvfe rgfverg 4rthg4 etg 4etg4wetegf 4etgbvrtebgv etg </p>
</body>
</html>