<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products PAGE</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Products</h1>
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/faculty">Faculty Directory</a></li>
        </ul>
    </nav>
    <p>This is the products page. Here you can find information about our products.</p>
</body>
</html>